name: CI

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test 
    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      SUPERADMIN_USERNAME: ${{ secrets.SUPERADMIN_USERNAME }}
      SUPERADMIN_PASSWORD: ${{ secrets.SUPERADMIN_PASSWORD }}
      SUPERADMIN_ORGANIZATION: ${{ secrets.SUPERADMIN_ORGANIZATION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.15.0'

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.13.1

      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma client
        run: pnpm exec prisma generate
        working-directory: packages/db

      - name: Start server, wait for it, then run tests
        run: |
          pnpm dev:server &
          pnpm exec wait-on tcp:3000

          pnpm test 
